# API Keys
ANTHROPIC_API_KEY=""                    # FILLME
OPENAI_API_KEY=""                       # FILLME
MISTRAL_API_KEY=""                      # FILLME

# Resource Limits
MEMORY_LIMIT=8G
CPU_LIMIT=4

# Tools
INSTALL_CHROME=false                    # Browser MCP
INSTALL_CLAUDE=false                    # Claude Code CLI
INSTALL_CODEX=false                     # Codex CLI
INSTALL_LATEX=false                     # Paper Writing
INSTALL_UV=false                        # Python Package Manager

# VSCode extensions
EXT_COLAB=false                         # Google Colab Remote Kernel
EXT_CONTAINERS=false                    # Docker Container Management
EXT_DATAWRANGLER=false                  # Data Viewer
EXT_JUPYTER=false                       # Jupyter Notebooks Local Kernel
EXT_LATEX=false                         # LaTeX Editing And Compilation
EXT_PYTHON=false                        # Python Language Support
