# API Keys
ANTHROPIC_API_KEY=""                    # FILLME
OPENAI_API_KEY=""                       # FILLME
MISTRAL_API_KEY=""                      # FILLME

# Ressource Limits
MEMORY_LIMIT=8G
CPU_LIMIT=4
