# Firewall
ALLOWED_DOMAINS="
api.anthropic.com
chatgpt.com
auth.docker.io
registry-1.docker.io
production.cloudflare.docker.com
registry.npmjs.org
auth.openai.com
pypi.org
marketplace.visualstudio.com
update.code.visualstudio.com
vscode.blob.core.windows.net
"

# API Keys
ANTHROPIC_API_KEY=""                    # FILLME
OPENAI_API_KEY=""                       # FILLME
MISTRAL_API_KEY=""                      # FILLME

# Git
GIT_AUTHOR_NAME=""                      # FILLME
GIT_AUTHOR_EMAIL=""                     # FILLME

# Ressource Limits
MEMORY_LIMIT=8G
CPU_LIMIT=4
